.note-pop-up {
    background: $accent;
    border-radius: 15px;
    box-shadow: 1px 1px 2px darken($accent, 40%);
    display: inline-block;
    margin: 1rem;
    padding: 20px;
    width: fit-content;
  
    .list-item {
      font-family: $body-font;
      font-size: 1rem;
    }
  
    input {
      border: 2px solid darken($accent, 30%);
      display: block;
      font-family: $body-font;
      margin: .2rem;
      padding: 5px;
    }
  
    .delete {
      border: 1px solid transparent;
      background-color: transparent;
      color: black;
      font-size: 1.5rem;
      position: relative;
      left: 4.5rem;
      top: 1rem;
  
      &:hover {
        animation: jello-horizontal 0.9s both;
        cursor: pointer;
        color: $h-color;
      }
    }
  }