.note-pop-up {
  background: $accent;
  border-radius: 15px;
  box-shadow: 1px 1px 2px darken($accent, 40%);
  display: block;
  font-family: $body-font;
  padding: 20px;
  margin: 1rem auto;
  width: fit-content;
  

  input {
    border: 2px solid darken($accent, 30%);
    font-family: $body-font;
    font-size: 1.5rem;
    margin: .2rem;
    padding: 5px;
  }

  .add-task,
  .delete-task {
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 1.5rem;

    &:hover {
      color: $h-color;
    }
  }

  .save-btn button {
    border: 1px solid black;
    cursor: pointer;
    font-size: 1.5rem;

    &:hover {
      background-color: $h-color;
      border: 1px solid $h-color;
      font-weight: 400;
    }
  }
  
  .delete {
    border: 1px solid transparent;
    background-color: transparent;
    color: black;
    font-size: 1.5rem;
    position: relative;
    left: 4.5rem;
    top: 1rem;

    &:hover {
      animation: jello-horizontal 0.9s both;
      cursor: pointer;
      color: $h-color;
    }
  }
}

