.note-pop-up {
    background: $accent;
    border-radius: 15px;
    box-shadow: 1px 1px 2px darken($accent, 40%);
    display: inline-block;
    font-family: $body-font;
    margin: 1rem;
    padding: 20px;
    width: fit-content;
  
    .title {
      margin-left: 55px;
    }

    input {
      border: 2px solid darken($accent, 30%);
      font-family: $body-font;
      margin: .2rem;
      padding: 5px;
    }

    .add-task,
    .delete-task,
    .check-task {
      background: transparent;
      border: 1px solid transparent;
      cursor: pointer;
    }
    
    .delete-task {
      justify-content: flex-end;
    }

    article {
      border-bottom: 1px solid black;
    }

    .task {
      display: flex;
      justify-content: flex-start;
    }

    p {
      margin: 10px;
      font-size: 1.5rem;
    }

    .fa-minus,
    .fa-square {
      font-size: 2rem;
    }
  
    .delete {
      border: 1px solid transparent;
      background-color: transparent;
      color: black;
      font-size: 1.5rem;
      position: relative;
      left: 4.5rem;
      top: 1rem;
  
      &:hover {
        animation: jello-horizontal 0.9s both;
        cursor: pointer;
        color: $h-color;
      }
    }

    .save-btn {
      margin: 20px auto;
    }
  }

