// FONTS
$main-font: 'Amatic SC', cursive;
$body-font: 'Raleway', sans-serif;


// SIZES
$h-size: 2.5rem;


// COLORS

// $accent: #465c3e;
// $accent: #4e4127;
// $accent: lighten(#173032, 10%);
// $accent: hsla(198, 24%, 31%, 1);
$accent: hsla(174, 19%, 30%, 1);
$accent: #F5F1D4;

// $h-color: #8B926C;
// $h-color: #6d6154;
// $h-color: #965f51;
// $h-color: hsl(195, 12%, 53%);
$h-color: hsla(9, 6%, 55%, 1);

// ANIMATIONS

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}