// FONTS
$main-font: 'Amatic SC', cursive;
$body-font: 'Raleway', sans-serif;


// SIZES
$h-size: 2.5rem;


// COLORS
$accent: hsla(174, 19%, 30%, 1);
$h-color: hsla(9, 6%, 55%, 1);

// ANIMATIONS

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}